

body {
  font-family: "Open Sans";
  color: #272829;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 0 15px;
  background: #0E1516;
  overflow-y: auto;
}

#main {
  margin-left: 260px;
}

.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #C1C3CF;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}


#home {
  width: 100%;
  height: 100vh;
  background: url("/img/mountains.jpg") top center;
  background-size: cover;
  
}

#contact {
background-color: #0E1516;
}

#contact a{
color: whitesmoke;
padding: 0px
}

section {
  padding: 60px 0;
  overflow: hidden;
}